{% extends "master.html" %}

{% import "auth/wtf_bootstrap.html" as form_macros %}

{% block title %}Password Reset{% endblock %}

{% block maincontents %}
    <div class="main padder">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4 m-t-large">
            <section class="panel"><header class="panel-heading text-center">
            Reset your password
          </header>
            {% if request.method == "GET" %}
                <p>Please enter your email address and we'll send you a link to reset your password.</p> <br/>
            {% endif %}

            {{ form_macros.vertical_form(form, submit_title="Send Password Reset Email") }}
        </section>
        </div>
      </div>
    </div>
{% endblock %}

